.burger_bg {
  position: absolute;
  background: #000;
  border-radius: 80px;
  width: 600px;
  height: 510px;
  top: 250px;
  right: 160px;
}

.little_animation_div1 {
  background-color: #fff;
  border-radius: 10px;
  width: max-content;
  padding: 20px;
  position: absolute;
  z-index: 2;
  bottom: 32%;
  animation: bounce 2s infinite alternate;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.little_animation_div2 {
  background-color: #fff;
  border-radius: 10px;
  width: max-content;
  padding: 20px;
  position: absolute;
  z-index: 2;
  top: 26%;
  right: 12%;
  animation: bounce 2s infinite alternate;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.little_animation_div3 {
  background-color: #fff;
  border-radius: 10px;
  width: max-content;
  padding: 20px;
  position: absolute;
  z-index: 2;
  bottom: 4%;
  right: 12%;
  animation: bounce 2s infinite alternate;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}

@media screen and (max-width: 640px) {
  .burger_bg {
    display: none;
  }

  .little_animation_div1,
  .little_animation_div2,
  .little_animation_div3 {
    display: none;
  }
}
