.FaqDivHeader {
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 136.364% */
  letter-spacing: 0.15px;
}
.FaqDivMain {
  color: var(--Gray-3, #828282);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.15px;
}
