.bg {
    width: 80%;
    margin: 0 auto 20px;
    height: 468px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d7f4bfb8-9a75-4a24-b06f-2acc18967079/df52rsp-f7c2a62c-aff8-4e0c-979c-63b1df47987b.png/v1/fill/w_1600,h_680/custom_papa_john_s_logo_by_animationfrenzy1981_df52rsp-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjgwIiwicGF0aCI6IlwvZlwvZDdmNGJmYjgtOWE3NS00YTI0LWIwNmYtMmFjYzE4OTY3MDc5XC9kZjUycnNwLWY3YzJhNjJjLWFmZjgtNGUwYy05NzljLTYzYjFkZjQ3OTg3Yi5wbmciLCJ3aWR0aCI6Ijw9MTYwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.S398xZTVnFKommKMiWWOEqKtjNvqCR3P0CbE7fRBAis");
}

@media screen and (max-width: 640px) {
   .bg{
    width: 80%;
    height: 130px;
   } 
}
